&pointing_listener {
    status = "okay";
    device = <&pointing_device>;
    // トラックボールを動かすと layer 1 (マウスレイヤー) を自動で有効化。
    // 動きが止まってから 500ms 後に解除する。
    input-processors = <&zip_temp_layer 1 500>;
};
